{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Dash-1</a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title" href="#">My Identity</a></h2>
            <p class="article-content">.....</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Dash-2</a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title" href="#">Address</a></h2>
            <p class="article-content">.....</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Dash-3</a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title" href="#">Passport Details</a></h2>
            <p class="article-content">.....</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Dash-4</a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title" href="#">PAN Details</a></h2>
            <p class="article-content">.....</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Dash-5</a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title" href="#">Aadhar Card Details</a></h2>
            <p class="article-content">.....</p>
        </div>
    </article>
{% endblock content %}
